.voucher-container {
    max-width: 600px;
}

.info-block p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-block span,
.info-block input {
    font-weight: 500;
}

.info-block input[type="date"] {
    max-width: 180px;
}